:root {
    --bg-color: #fafafa;
    --text-color: #131416;
    --card-bg: #f3f3f4;
    --card-border: #b6bcc1;
    --card-hover: #dde0e3;
    --icon-color: #0a77eb;
    --subtext-color: #54595f;
}

.dark {
    --bg-color: #131416;
    --text-color: #f3f3f3;
    --card-bg: #181a1b;
    --card-border: #4a5057;
    --card-hover: #292e32;
    --icon-color: #1481f5;
    --subtext-color: #afb3b6;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, system-ui, -apple-system, sans-serif;
}

body {
    background-color: var(--bg-color);
}

/* header section */
header {
    width: 100%;
    border-bottom: solid 1px var(--card-border);
}

nav {
    max-width: 1280px;
    margin: auto;
    padding: 16px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: inline-flex;
    align-items: center;
    gap: 12px;
}

.logo img {
    width: 32px;
    height: 32px;
}

.logo h1 {
    font-size: 20px;
    color: var(--text-color);
}

.search-area {
    display: flex;
    gap: 10px;
}

.search-bar {
    position: relative;
}

.search-bar input {
    width: 628px;
    height: 100%;
    padding: 8px 36px;
    background-color: transparent;
    border: solid 1px var(--card-border);
    border-radius: 6px;
    outline: none;
    color: var(--text-color);
    font-weight: 500;
    font-size: 14px;
}

.search-bar input::placeholder {
    font-size: 14px;
    font-weight: 400;
    color: var(--subtext-color);
}

.search-bar input:focus {
    outline: solid 3px var(--icon-color);
    outline-offset: 3px;
}

.search-bar .lucide#search-icon {
    width: 16px;
    height: 16px;
    stroke: var(--subtext-color);
    position: absolute;
    left: 12px;
    top: 10px;
}

#x-btn,
#location-btn,
#theme-btn {
    width: 36px;
    height: 36px;
    background-color: transparent;
    border: none;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    cursor: pointer;
}

#x-btn {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
}

#location-btn {
    border: solid 1px var(--card-border);
}

#x-btn:hover .lucide {
    stroke: var(--text-color);
}

#location-btn:hover,
#theme-btn:hover {
    background-color: var(--card-hover);
}

#x-btn .lucide {
    width: 16px;
    height: 16px;
    stroke: var(--subtext-color);
}

#x-btn .lucide:hover {
    stroke: var(--text-color);
}

#location-btn .lucide,
#theme-btn .lucide {
    width: 16px;
    height: 16px;
    stroke: var(--text-color);
}

#search-history {
    display: none;
    position: absolute;
    top: 42px;
    left: 0;
    width: 100%;
    background-color: var(--card-bg);
    border: solid 1px var(--card-border);
    border-radius: 6px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
}

.history-item {
    padding: 10px 16px;
    font-size: 14px;
    text-transform: capitalize;
    color: var(--text-color);
    cursor: pointer;
}

.history-item:hover {
    background-color: var(--card-hover);
}

.no-history {
    padding: 10px 16px;
    font-size: 14px;
    color: var(--text-color);
    text-align: center;
}

/* main content */
main {
    max-width: 1280px;
    padding: 32px;
    margin: auto;
}

section {
    margin-top: 32px;
}

section:first-of-type {
    margin-top: 0;
}

/* first section => weather now */
#address {
    max-width: 600px;
    margin: auto;
    font-size: 36px;
    color: var(--text-color);
    text-transform: capitalize;
    text-align: center;
    line-height: 1.5;
}

#time-zone {
    font-size: 18px;
    color: var(--subtext-color);
    text-align: center;
    margin-top: 8px;
}

.weather {
    text-align: center;
    margin-top: 24px;
}

.weather .lucide {
    width: 96px;
    height: 96px;
    stroke: var(--icon-color);
}

.details {
    margin-top: 16px;
}

#temp-now {
    font-size: 72px;
    color: var(--text-color);
    font-weight: 900;
}

#condition {
    margin-top: 4px;
    color: var(--subtext-color);
    font-size: 24px;
}

.statistics {
    padding: 8px 0;
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;
}

.statistics>div {
    padding: 16px;
    background-color: var(--card-bg);
    border: solid 1px var(--card-border);
    border-radius: 10px;
}

.label {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
}

.label .lucide {
    width: 16px;
    height: 16px;
    stroke: var(--subtext-color);
}

.label span {
    font-size: 14px;
    color: var(--subtext-color);
}

.statistics p {
    margin-top: 8px;
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color);
}

/* second section => hourly forecast */
section h2 {
    font-size: 24px;
    color: var(--text-color);
}

.hours-div {
    padding: 8px 5px;
    margin-top: 16px;
    display: flex;
    border-radius: 10px;
    overflow-x: auto;
    overflow-y: visible;
}

.hours-div::-webkit-scrollbar {
    background-color: transparent;
    height: 0;
}

.hours-div::-webkit-scrollbar-track {
    background-color: transparent;
}

.hours-div::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.hour-div {
    flex-basis: 100px;
    flex-shrink: 0;
    padding: 16px;
    background-color: var(--card-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    transition: all 0.2s;
}

.hour-div:hover {
    transform: scale(1.1);
    background-color: var(--card-hover);
    border-radius: 10px;
    z-index: 1000;
}

.hour {
    font-size: 14px;
    color: var(--text-color);
}

.hour-div .lucide {
    width: 32px;
    height: 32px;
    stroke: var(--icon-color);
}

.temp-hour {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color);
}

/* third section => 7-day forecast */
.days-div {
    padding: 8px 0;
    margin-top: 16px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 16px;
}

.day-div {
    padding: 16px;
    background-color: var(--card-bg);
    border: solid 1px var(--card-border);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    transition: all 0.1s;
}

.day-div:hover {
    background-color: var(--card-hover);
}

.day {
    font-size: 18px;
    color: var(--text-color);
}

.day-div .lucide {
    width: 40px;
    height: 40px;
    stroke: var(--icon-color);
}

.temp-day {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color);
}

.condition-day {
    font-size: 14px;
    color: var(--subtext-color);
    text-align: center;
}

/* footer section */
footer {
    width: 100%;
    background-color: var(--bg-color);
    border-top: 1px solid var(--card-border);
    padding: 32px 0;
    margin: 64px 0 0;
}

footer p {
    max-width: 1280px;
    color: var(--subtext-color);
    font-size: 14px;
    text-align: center;
    margin: auto;
}

footer .lucide {
    width: 16px;
    height: 16px;
    stroke-width: 3;
    stroke: red;
    fill: red;
}

footer a {
    color: var(--icon-color);
    font-weight: 600;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* toast styles */
.toastBox {
    display: none;
    width: 386px;
    max-height: 312px;
    padding: 16px;
    overflow: hidden;
    position: fixed;
    bottom: 18px;
    right: 18px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#toast {
    width: 100%;
    min-height: 52px;
    background-color: var(--text-color);
    color: var(--bg-color);
    font-weight: 600;
    padding: 14px;
    border-radius: 8px;
    border: 1px solid var(--card-border);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    transform: translateY(50px);
    animation: moveToast 0.5s ease forwards;
    display: flex;
    align-items: center;
    justify-content: start;
    transition: all 1s ease;
}

@keyframes moveToast {
    100% {
        transform: translateY(0);
    }
}

#toast .lucide {
    width: 16px;
    height: 16px;
    stroke: var(--bg-color);
    margin-right: 10px;
}

.toast-content {
    font-size: 13px;
}

.close {
    opacity: 0;
}

/* For small screens */
@media (max-width: 948px) {

    /* header section */
    nav {
        width: 100%;
        padding: 12px 8px;
    }

    .logo {
        gap: 4px;
    }

    .logo img {
        width: 24px;
        height: 24px;
    }

    .logo h1 {
        font-size: 14px;
    }

    .search-area {
        gap: 6px;
        margin: 0 6px;
    }

    .search-bar input {
        width: 100%;
        padding: 4px 26px;
        font-size: 12px;
    }

    .search-bar input::placeholder {
        font-size: 12px;
    }

    .search-bar input:focus {
        outline: solid 2px var(--icon-color);
        outline-offset: 1px;
    }

    .search-bar .lucide#search-icon {
        left: 7px;
    }

    #search-history {
        left: -30%;
        width: 160%;
    }

    .history-item,
    .no-history {
        padding: 8px 12px;
        font-size: 12px;
    }

    /* main content */
    main {
        width: 100%;
        padding: 16px;
    }

    section:first-of-type {
        margin-top: 8px;
    }

    /* first section => weather now */
    #address {
        max-width: 75%;
        font-size: 28px;
        line-height: 1.2;
    }

    #time-zone {
        font-size: 14px;
    }

    .weather .lucide {
        width: 88px;
        height: 88px;
    }

    #temp-now {
        font-size: 64px;
    }

    #condition {
        font-size: 22px;
    }

    .statistics {
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
    }

    /* second section => hourly forecast */
    .hour-div {
        flex-basis: 85px;
    }

    /* third section => 7-day forecast */
    .days-div {
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
    }

    /* footer section */
    footer {
        padding: 16px 0;
    }

    /* toast styles */
    .toastBox {
        width: 95%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        bottom: auto;
    }

    #toast {
        transform: translateY(-50px);
    }
}